.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: aqua;
}

body
{
    background-size: cover;
}

#play
{
    margin-top: 60px;
}

h4
{
    color: black;
    margin-bottom: 1px;
}

canvas
{
    color: black;
    width: 500px;
    height: 500px;
}